/* CSS */
body {
	background-color:black;
	background-image:none;
}

canvas{
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
  background-color: black;
  border:thin solid #00FF00;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.context{
  background-color:black;
  color: #00FF00;
  font-family: Lucida Console;
  position:absolute;
  margin:auto;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:1200px;
  height:600px;
}

#context_stop{
  display:block;
}
#context_start,#context_ready{
  display:none;
}

.context_keyword{
  position:absolute;
  font-size:3em;
  width:100%;
  text-align : center;
  top:27%;
}

.context_keyword_value{
  font-weight: bold;
}

.context_title{
  position:absolute;
  font-size:3em;
  width:100%;
  text-align : center;
  top:20%;
}

.context_button{

  height:25%;
  width:70%;
  padding:5% 10%;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
  
  	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color:black;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:1px solid #00FF00;
	display:inline-block;
	color: #00FF00;
	font-size:25px;
	font-weight:bold;
	padding:20px 40px;
	font-family: Lucida Console;
}


