body {
	background-color:#60767F;
	color:#FFF8E3;
	font: 1em/2em "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	background-image: url('/images/background.png')
}

header {
	display:block;
	background-image: url('/images/newlogo.png');
	margin: 15px ;
	width:246px;
	height:134px;
	position:absolute;
	top:0;
	left:0;
	z-index: 5;
}

#slate-border {
	background: url('/images/tv-16-9.png');
	width:53em;
	height:37em;
	background-size: 53em 37em;
	border-radius:2em;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:2
/*	-moz-box-shadow:    3px 3px 5px 6px #60767F;
  	-webkit-box-shadow: 3px 3px 5px 6px #60767F;
  	box-shadow:         3px 3px 5px 6px #60767F;*/
  	
}

#slate{ 
	background-image: url('/images/terminal-background.png');
	background-position: top left;
	background-repeat:no-repeat;
	background-color: black;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-left-color: red;
	border-top-color: red;
	border-right-color: brown;
	border-bottom-color: brown;	
	box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	-webkit-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	-moz-box-shadow:inset 0px 0px 85px rgba(0,0,0,.5);
	border-width: 5px;
	z-index:1;
}

div#slate{
	width:45em;
	height:30em;
}

.start {
	position:absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height:3em;
	width:10em;
	background-color:black;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:1px solid rgb(0,255,0);
	display:inline-block;
	color:rgb(0,255,0);
	font-size:25px;
	font-weight:bold;
	padding:20px 40px;
}


footer {
	position:absolute;
	bottom:0px;
	margin:auto;
	left:0;
	right:0;
	border-top-left-radius: 10px;
	border-top-right-radius:10px;
	width:800px;
	height:50px;
	text-align:center;
}
