body {
	background-color:#CCDCF5;	
}

canvas {
	background-color: #33332D;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width:45em;
	height:30em;
}

#timer {
	margin: 0 auto;
}

#chrono {
	font-family: Lucida Console;
	color: red;
	font-size: 3em;
	position:absolute;
	top:0;
	right:0;
	margin: 20px ;
}

#players {
	font-family: Lucida Console;
	font-size: 1.5em;
	color: black;
	font-weight: bold;
}

#qr-code-player1 , #qr-code-player1  img{
	margin: 15px ;
	width:256px;
	height:335px;
}
#qr-code-player2, #qr-code-player1  img{
	margin: 15px ;
	width:256px;
	height:335px;
}

#player1 {
	margin: 15px ;
	position:absolute;
	bottom:0;
	left:0;
	width:296px;
	height:228px;

}

#player2 {
	margin: 15px ;
	position:absolute;
	bottom:0;
	right:0;
	width:296px;
	height:228px;
}

#avatar-player1 {
	display:block;
	background-image: url('/images/team_avatar_inactive.png');
	width:128px;
	height:128px;
}

#avatar-player2 {
	display:block;
	background-image: url('/images/team_avatar_active.png');
	width:128px;
	height:128px;
}

background-image: url('/images/logojhackers.png');