body {
	background-color:#CCDCF5;	
	font-family: Lucida Console;
}

canvas#slate {
}

#timer {
	margin: 0 auto;
}

#chrono {
	color: red;
	font-size: 3em;
	position:absolute;
	top:0;
	right:0;
	margin: 20px ;
}


.player {
	font-size: 1em;
	color: black;
	font-weight: bold;
	position:absolute;
	bottom:0;
	width:256px;
	height:167px;
}

#player1 {
	left:0;
}

#player2 {
	right:0;
	text-align: right;
}

.qr-code, .qr-code img {
	width:128px;
	height:167px;
}

#qr-code-player1 {
	float:left;
}
#qr-code-player2 {
	float:right;
	}
	
.avatar {
	width:128px;
	height:128px;
	}

#avatar-player1 {
	float: right;
}
#avatar-player2 {
	float: left;
}

