canvas{
  -webkit-touch-callout: none ;
  -webkit-user-select: none ;
  background-color: #33332D;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.context_button{
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:3em;
  width:10em;
  
  -moz-box-shadow:inset 0px 0px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 0px 0px 0px #fff6af;
  box-shadow:inset 0px 0px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #ffaa22;
  display:inline-block;
  color:#333333;
  font-family:arial;
  font-size:25px;
  font-weight:bold;
  padding:20px 40px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
}