<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="ISO-8859-1" />
		<title>{{title}}</title>
		
		<script type="text/javascript">
			var token = '{{token}}';
		</script>
		
		<script type="text/javascript" src="/libs/jquery.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		
		<script type="text/javascript" src="/js/Configuration.js"></script>
		
		<link href='/css/style-tv.css' rel='stylesheet' type='text/css' />

		<script type="text/javascript" src="/js/main-tv.js"></script>
		<script type="text/javascript" src="/libs/jquery.pen.js"></script>

		
	</head>
	<body>
		<header>
			<h1>Dessinez c'est gagné !</h1>
		</header>

		<div id="slate-border">
			<div id="slate">
				<form action="/" method="post">
					<input type="submit" value="Start a game" class="start"/>
				</form>
			</div>
		</div>
		<footer>
			<p>
				HackDay Paris - &copy Les jHackers
			</p>
		</footer>
	</body>
</html>