{% extends "base.html" %}
{% block content %}

    <div id="context_start"  class="context">
      <!--- This is where we draw. --->
      <canvas id="canvas" width="1200px" height="960px"> </canvas>
    </div>
    <div id="context_stop" class="context">
      <div class="context_title">It's not your turn</div>
      <div class="context_keyword">The other team is trying to guess <span class="context_keyword_value"></span></div>
      <input id="foundButton" type="button" class="context_button" value="They found it!" />
    </div>
    <div id="context_ready"  class="context">
      <div class="context_title">It's your turn</div>
      <div class="context_keyword">Try to draw <span class="context_keyword_value"></span></div>
      <input id="startButton" type="button" class="context_button" value="Start Drawing!"/>
    </div>

{% endblock %}
