{% extends "base-tv.html" %}

{% block canvas %}
	<div id="slate-border">
		<div class="chrono" id="chrono" >
			88:88
		</div>
	</div>
<canvas id="slate" width="700em" height="460em">


</canvas>
{% endblock %}

{% block players %}


<div class="player" id="player1">
	<div class="team_name" id="team_name1" >
		Team #1 
	</div>
	<div class="qr-code in-bl" id="qr-code-player1">
		<img src="/images/sparqcode-team1.gif"/>
	</div>
	<div class="avatar in-bl" id="avatar-player1">
		<img src="/images/avatar-offline_128x150.png"/>
	</div>
</div>
<div class="player" id="player2">
	<div class="team_name" id="team_name2">
		Team #2
	</div>
	<div class="avatar in-bl" id="avatar-player2">
		<img src="/images/avatar-offline_128x150.png"/>
	</div>
	<div class="qr-code in-bl" id="qr-code-player2">
		<img src="/images/sparqcode-team2.gif"/>
	</div>

</div>
{% endblock %}
