{% extends "base-tv.html" %}

{% block canvas %}
    	<canvas id="canvas" width="800em" height="700em">
			
		</canvas>
{% endblock %}

{% block players %}
<div id="players">
	<div class="player" id="player1">
		<div>
			Equipe #1 (hors ligne)
		</div>
		<div class="qr-code" id="qr-code-player1"></div>
		<div class="avatar" id="avatar-player1"></div>
		<div class="score" id="score-player1">

			<div>
				3 points
			</div>
		</div>
	</div>
	<div class="player" id="player2">
		<div>
			Equipe #2 (en ligne)
		</div>
	<div class="qr-code" id="qr-code-player2"></div>
		<div class="avatar" id="avatar-player2">
		<img 
		</div>
		<div class="score" id="score-player2">

			<div>
				3 points
			</div>
		</div>
	</div>
</div>
{% endblock %}
