{% extends "base.html" %}
{% block content %}

    <div id="context_start"  class="context">
      <!--- This is where we draw. --->
      <canvas id="canvas" width="500" height="500"> </canvas>
    </div>
    <div id="context_stop" class="context">
      <div class="context_title">It's not your turn</div>
    </div>
    <div id="context_ready"  class="context">
      <div class="context_title">It's your turn</div>
      <input type="button" class="context_button" value="Start Drawing!">
    </div>

{% endblock %}
